
.compet {
   color: white; 
}
.flip-card {
    background-color: transparent;
    perspective: 1000px;
}
.er-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .er-inner {
    transform: rotateY(180deg);
}

.er-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: dodgerblue;
    color: white;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    
    }
.belimg {
    max-width : 100%;
    max-height : auto;
    
    height: 100%;
}