
body {
    background-image: url(images/fond/1.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.textbl {
    color: white;
    
}

.textblue {
    color: blue;
}

.flip-card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    perspective: 1000px;
}
.er-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .er-inner {
    transform: rotateY(180deg);
}

.er-back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    color: white;
    
}
/* Ajout de styles pour redimensionner les images */
img {
    max-width: 100%; /* La largeur maximale est la largeur de son conteneur */
    height: auto; /* La hauteur s'ajuste automatiquement pour conserver les proportions */
}

/* Ajout de styles pour redimensionner les vidéos */
video {
    max-width: 100%; /* La largeur maximale est la largeur de son conteneur */
    height: auto; /* La hauteur s'ajuste automatiquement pour conserver les proportions */
}