
body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(1.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    animation: kenburns 20s linear 1;
    transform-origin: bottom right;
    transform: scale(1.2);
}

@keyframes kenburns {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
}}

#wordDisplay {
    width: 350px;
}

.textbl {
    color: white;
    
}

.textblue {
    color: blue;
}

.foulh {
    height: 100vh;
}

.flip-card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    perspective: 1000px;
}
.er-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .er-inner {
    transform: rotateY(180deg);
}

.er-back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    color: white;
    
}
/* redimensionner les images */
img {
    max-width: 100%;
    height: auto;
}

/* redimensionner les vidéos */
video {
    max-width: 100%; /* La largeur maximale est la largeur de son conteneur */
    height: auto; /* La hauteur s'ajuste automatiquement pour conserver les proportions */
}